@import "https://fonts.googleapis.com/css?family=Open+Sans";
@import '../../layout';
@import '../../assets';
@import '../../App.scss';

.header-background-img-cat {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  height: 20vh;
  width: 100vw; 
}

a {
    padding: 0 4px;
    justify-content: center;
}

// parent 
.row {
    @include row;
}

// child
.mapped-cat-list {
  @include col(1,4, $first:true)

}

.cat-img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    margin-top: 10px;
    vertical-align: middle; 
}

.cat-name {
  color: $darkBlue;
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
  line-height: 50%;
  margin: 0.5em 0px 0px 0px;
  padding: 0px 0px 0px 0px; 
}

.cat-age {
  color: $darkBlue;
  font-size: 1.5rem;
  text-align: left;
  margin: 0.5em 0px 1em 0px;
  padding: 0px 0px 0px 0px; 
}

.adopt-title-text-catalog {
  /* position: absolute; */
  top: 100px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  margin: auto;
  color: $darkBlue;
  padding: 1em;
  /* color: #614B4E; */ }

.filter-and-grid-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1000px;
    margin: auto;
}

.filter-container {
  display: flex;
  background: $lightgray;
  border-radius: 10px;
//   opacity: 0.90;
  width: 100%;
//   margin: auto;
  margin: 0 0 1em 0;
  flex-direction: column;
  padding: 1em; 
}

.cat-grid-container {
    width: 100%;
    padding: 0;
    margin: 0;
}

.filter-text-and-icon-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.filter-icon {
  height: 38px;
  width: 38px;
  padding: 0 10px 0 0; 
}

.filter-search-text {
  color: $turquoise;
  font-size: 2em;
  font-family: 'Muli', sans-serif; }

.three-filter-container {
  /* background: pink; */
  padding: 1em 0 2em 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.reset-and-submit-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.reset-filter-btn {
    @include smallAdminButton;
    background-color: $lightyellow;

}

.submit-filter-btn {
    @include smallAdminButton;
    background-color: $lightred; 
}

// .add-cat-btn {
//   height: 3em;
//   width: 10em;
//   background-color: $lightyellow;
//   border-radius: 0.8em;
//   border-style: none;
//   font-family: 'Muli', sans-serif;
//   font-size: 2em;
//   margin: auto;
//   padding: 1em;
//   margin: 1.5em; }

/* gender buttons */
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  font-family: 'Muli', sans-serif; }

.stv-radio-buttons-wrapper {
//   clear: both;
  padding: 0 5px;
}

.stv-radio-buttons-wrapper2 {
    @extend .stv-radio-buttons-wrapper;
}

.stv-radio-buttons-wrapper3 {
    @extend .stv-radio-buttons-wrapper;
}

.stv-radio-button {
  position: absolute;
  padding: 4em;
  left: -9999em;
  top: -9999em; 
}

.stv-radio-button + label {
  /* float: left; */
  padding: 0.5em 2em;
  cursor: pointer;
  border: 2px solid $turquoise;
  margin-right: -1px;
  color: $darkBlue;
  background-color: white; }

.stv-radio-button + label:first-of-type {
  border-radius: .7em 0 0 .7em; }

.stv-radio-button + label:last-of-type {
  border-radius: 0 .7em .7em 0; }

.stv-radio-button:checked + label {
  background-color: $turquoise;
  color: white; }

.add-cat-btn {
  @include smallAdminButton;
  background-color: $lightyellow;
  margin: 50px 0;

}