@import "https://fonts.googleapis.com/css?family=Open+Sans";
* {
  text-align: center;
  font-size: 12px;
  line-height: 1.2;
  font-family: 'Muli', sans-serif; }

h1 {
  font-size: 3rem;
  color: #1B535B;
  text-align: center; }

.home-page-header {
  font-size: 3em; }

h2 {
  font-size: 1.5rem;
  text-align: left; }

h3 {
  text-align: left;
  font-size: 1.5rem; }

h4 {
  font-size: 14px; }

h5 {
  font-size: 4rem;
  text-align: left;
  margin: 0; }

p {
  color: #1B535B;
  font-size: 17px;
  text-align: left; }

.header-background-img-cat {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  height: 20vh;
  width: 100vw; }

a {
  padding: 0 4px;
  justify-content: center; }

.row {
  font-size: 0; }

.mapped-cat-list {
  width: 32%;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 0.1em; }

.cat-img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  margin-top: 10px;
  vertical-align: middle; }

.cat-name {
  color: #1B535B;
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
  line-height: 50%;
  margin: 0.5em 0px 0px 0px;
  padding: 0px 0px 0px 0px; }

.cat-age {
  color: #1B535B;
  font-size: 1.5rem;
  text-align: left;
  margin: 0.5em 0px 1em 0px;
  padding: 0px 0px 0px 0px; }

.adopt-title-text-catalog {
  /* position: absolute; */
  top: 100px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  margin: auto;
  color: #1B535B;
  padding: 1em;
  /* color: #614B4E; */ }

.filter-and-grid-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 1000px;
  margin: auto; }

.filter-container {
  display: flex;
  background: #EBEBEB;
  border-radius: 10px;
  width: 100%;
  margin: 0 0 1em 0;
  flex-direction: column;
  padding: 1em; }

.cat-grid-container {
  width: 100%;
  padding: 0;
  margin: 0; }

.filter-text-and-icon-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.filter-icon {
  height: 38px;
  width: 38px;
  padding: 0 10px 0 0; }

.filter-search-text {
  color: #4ECDC4;
  font-size: 2em;
  font-family: 'Muli', sans-serif; }

.three-filter-container {
  /* background: pink; */
  padding: 1em 0 2em 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.reset-and-submit-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.reset-filter-btn {
  height: 32px;
  width: 150px;
  font-weight: bold;
  border-radius: 5px;
  font-size: 16px;
  margin: 0 20px;
  color: white;
  border-style: none;
  background-color: #FFE76C; }

.submit-filter-btn {
  height: 32px;
  width: 150px;
  font-weight: bold;
  border-radius: 5px;
  font-size: 16px;
  margin: 0 20px;
  color: white;
  border-style: none;
  background-color: #FF6B6B; }

/* gender buttons */
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  font-family: 'Muli', sans-serif; }

.stv-radio-buttons-wrapper, .stv-radio-buttons-wrapper2, .stv-radio-buttons-wrapper3 {
  padding: 0 5px; }

.stv-radio-button {
  position: absolute;
  padding: 4em;
  left: -9999em;
  top: -9999em; }

.stv-radio-button + label {
  /* float: left; */
  padding: 0.5em 2em;
  cursor: pointer;
  border: 2px solid #4ECDC4;
  margin-right: -1px;
  color: #1B535B;
  background-color: white; }

.stv-radio-button + label:first-of-type {
  border-radius: .7em 0 0 .7em; }

.stv-radio-button + label:last-of-type {
  border-radius: 0 .7em .7em 0; }

.stv-radio-button:checked + label {
  background-color: #4ECDC4;
  color: white; }

.add-cat-btn {
  height: 32px;
  width: 150px;
  font-weight: bold;
  border-radius: 5px;
  font-size: 16px;
  margin: 0 20px;
  color: white;
  border-style: none;
  background-color: #FFE76C;
  margin: 50px 0; }
