.catbio-cat-img {
    /* height: 30em;
    width: 30em;
    object-fit: cover;
    border-radius: 10px; */

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
}

.text-area {
    padding: 2em;
}
.catbio-cat-name {
    color: #4ECDC5;
    font-size: 2.3em;
    text-align: left;
}

.catbio-cat-description {
    color: #1B535B;
    text-align: left;
    font-size: 1.5em;
}

.catbio-cat-age {
    color: #1B535B;
    text-align: left;
    font-size: 1.42em;
}