* {
  text-align: center;
  font-size: 12px;
  line-height: 1.2;
  font-family: 'Muli', sans-serif; }

h1 {
  font-size: 3rem;
  color: #1B535B;
  text-align: center; }

.home-page-header {
  font-size: 3em; }

h2 {
  font-size: 1.5rem;
  text-align: left;
  color: #614B4E; }

h3 {
  text-align: left;
  font-size: 1.5rem; }

h4 {
  font-size: 14px; }

h5 {
  font-size: 4rem;
  text-align: left;
  margin: 0; }

p {
  color: #1B535B;
  font-size: 17px;
  text-align: left; }
