@import '../../layout';
@import '../../App.scss';
@import '../../assets';

.home-header-container{
    background-size: cover;
    object-fit: cover;
    background-image: url('../../media/james-sutton-705775-unsplash.jpg');
    height: 100vh;
    width: 100vw;
    // z-index: -1;
    background-position: center;
    @media only screen and (max-width: 812px) {
        background-image: url('../../media/charlie-deets-517076-unsplash.jpg');
    }
}

.home-page-text-content{
    display: flex;
    padding: 0 150px;
    flex-direction: column;
    align-items: flex-start;
    @media only screen and (max-width: 812px) {
        padding: 8vh 8vw;
    }
    .h1-for-home-page{
        color: white;
        text-align: left;
        font-size: 48px;
        line-height: 2rem;
        @media only screen and (max-width: 812px) {
            font-size: 28px;
            color: $darkBlue;
            line-height: 1rem;
        }
    }
    .home-page-btn{
        height: 62px;
        width: 268px;
        font-size: 2em;
        color: white;
        background: #4ECDC5;
        border-radius: 10px;
        border: none;
        margin-top: 40px;
        @media only screen and (max-width: 812px) {
            font-size: 1em;
        }
    }
}


.home-section-2-container{
    background-size: cover;
    object-fit: cover;
    background-image: url('../../media/patrick-brinksma-580128-unsplash.jpg');
    height: 80vh;
    width: 100vw;
    background-position: center;
    @media only screen and (max-width: 812px) {
    }
}

.home-page-text-content-right{
    @extend .home-page-text-content;
    align-items: flex-end;
}
.h1-for-home-page-right{
    @extend .h1-for-home-page;
    text-align: right;
}
.p-for-home-page-right{
    text-align:right;
    color: white;
    font-size: 32px;
    max-width: 730px;
}
.home-page-btn-right{
    height: 62px;
    width: 268px;
    font-size: 2em;
    color: white;
    border-radius: 10px;
    border: none;
    margin-top: 40px;
    background: $lightyellow;
}

.home-section-3-container{
    background-size: cover;
    object-fit: cover;
    background-image: url('../../media/eric-han-455080-unsplash.jpg');
    height: 80vh;
    width: 100vw;
    
}

.home-section-4-container{
    background-size: cover;
    object-fit: cover;
    background-image: url('../../media/tucker-good-499943-unsplash.jpg');
    height: 80vh;
    width: 100vw;
    background-position: center;
    
}

.p-for-home-page-left{
    @extend .p-for-home-page-right;
    text-align: left;
}

.home-page-btn-testimonials{
    @extend .home-page-btn-right;
    font-size: 1.7em;
}


@media only screen and (max-width: 812px) {
    .space-between-header-and-content {
        height: 0;
    }
}
