* {
  text-align: center;
  font-size: 12px;
  line-height: 1.2;
  font-family: 'Muli', sans-serif; }

h1 {
  font-size: 3rem;
  color: #1B535B;
  text-align: center; }

.home-page-header {
  font-size: 3em; }

h2 {
  font-size: 1.5rem;
  text-align: left;
  color: #614B4E; }

h3 {
  text-align: left;
  font-size: 1.5rem; }

h4 {
  font-size: 14px; }

h5 {
  font-size: 4rem;
  text-align: left;
  margin: 0; }

p {
  color: #1B535B;
  font-size: 17px;
  text-align: left; }

.home-header-container {
  background-size: cover;
  object-fit: cover;
  background-image: url("../../media/james-sutton-705775-unsplash.jpg");
  height: 90vh;
  width: 100vw;
  background-position: center; }

.home-page-text-content, .home-page-text-content-right {
  display: flex;
  padding: 0 200px;
  flex-direction: column;
  align-items: flex-start; }
  .home-page-text-content .h1-for-home-page, .home-page-text-content-right .h1-for-home-page, .home-page-text-content .h1-for-home-page-right, .home-page-text-content-right .h1-for-home-page-right {
    color: white;
    text-align: left;
    font-size: 4rem;
    line-height: 2rem; }
  .home-page-text-content .home-page-btn, .home-page-text-content-right .home-page-btn {
    height: 62px;
    width: 268px;
    font-size: 2em;
    color: white;
    background: #4ECDC5;
    border-radius: 10px;
    border: none;
    margin-top: 40px; }

.home-section-2-container {
  background-size: cover;
  object-fit: cover;
  background-image: url("../../media/patrick-brinksma-580128-unsplash.jpg");
  height: 80vh;
  width: 100vw;
  background-position: center; }

.home-page-text-content-right {
  align-items: flex-end; }

.h1-for-home-page-right {
  text-align: right; }

.p-for-home-page-right, .p-for-home-page-left {
  text-align: right;
  color: white;
  font-size: 32px;
  max-width: 730px; }

.home-page-btn-right, .home-page-btn-testimonials {
  height: 62px;
  width: 268px;
  font-size: 2em;
  color: white;
  border-radius: 10px;
  border: none;
  margin-top: 40px;
  background: #FFE76C; }

.home-section-3-container {
  background-size: cover;
  object-fit: cover;
  background-image: url("../../media/eric-han-455080-unsplash.jpg");
  height: 80vh;
  width: 100vw; }

.home-section-4-container {
  background-size: cover;
  object-fit: cover;
  background-image: url("../../media/archie1.jpg");
  height: 80vh;
  width: 100vw;
  background-position: center; }

.p-for-home-page-left {
  text-align: left; }

.home-page-btn-testimonials {
  font-size: 1.7em; }

/* will probably delete because i don't want a
page with margins i want the text to have margins */
/* body{
    margin: 0 auto !important;
    float: none !important;
} */
