@import '../../layout';
@import '../../App.scss';
@import '../../assets';

.header-container {
    @include headerWithImgBackground;
}

.contact-left-and-right-container{
    width: 100%;
    min-height: 100vh;
    .contact-left-column {
        background-color: $lightpink;
        position: relative;
        float: left;
        width: 51%;
        margin-top: 1%;
        margin-left: 40px;
        padding-bottom: 20px;
        // padding: 0 0 0 50px;
        border-radius: 10px;

        // height: 300px;
        // background-color: yellow;
    }
    .contact-right-column{
        float: right;
        height: 300px;
        margin-top: 1%;
        position: relative;
        width: 37%;
    }
}

#contact-form {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    padding: 0 50px 10px 50px;
    ::-webkit-input-placeholder { 
        text-align:left;
        font-size: 16px;
    }
    #name {
        background-color: white;
        border-radius: 5px;
        height: 30px;
        width: 500px;
        border-style: none;
        text-align: left;
        padding-left: 10px;
        font-size: 16px;
        vertical-align: top;
    }
    #email {
        @extend #name;
    }
    #message {
        @extend #name;
        height: 100px;
        margin-bottom: 10px;
    }
}

.contact-container-icon-text{
    display: flex;
    flex-direction: column;
}

.contact-icon-and-text{
    display: flex;
    flex-direction: row;
    padding: 15px 0;
}

.contact-icons {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.contact-text {
    color: $darkPink;
    font-size: 18px;
}

.contact-submit-btn {
    @include smallAdminButton;
    background-color: $darkPink;
    margin: 0 auto;
    // position: absolute;
    // left: 50%;
    // bottom: -100px;
}

.outside-map-container {
    position: relative;
    height: 50vh;
}

// .google-maps-title-text {
//     top: -200px;
// }