* {
  text-align: center;
  font-size: 12px;
  line-height: 1.2;
  font-family: 'Muli', sans-serif; }

h1 {
  font-size: 3rem;
  color: #1B535B;
  text-align: center; }

.home-page-header {
  font-size: 3em; }

h2 {
  font-size: 1.5rem;
  text-align: left;
  color: #614B4E; }

h3 {
  text-align: left;
  font-size: 1.5rem; }

h4 {
  font-size: 14px; }

h5 {
  font-size: 4rem;
  text-align: left;
  margin: 0; }

p {
  color: #1B535B;
  font-size: 17px;
  text-align: left; }

.header-container {
  width: 100vw;
  height: 23vh;
  background-image: url("../../media//patrick-brinksma-580128-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover; }

.contact-left-and-right-container {
  width: 100%;
  min-height: 100vh; }
  .contact-left-and-right-container .contact-left-column {
    background-color: #E4DDDE;
    position: relative;
    float: left;
    width: 51%;
    margin-top: 1%;
    margin-left: 40px;
    padding-bottom: 20px;
    border-radius: 10px; }
  .contact-left-and-right-container .contact-right-column {
    float: right;
    height: 300px;
    margin-top: 1%;
    position: relative;
    width: 37%; }

#contact-form {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  padding: 0 50px 10px 50px; }
  #contact-form ::-webkit-input-placeholder {
    text-align: left;
    font-size: 16px; }
  #contact-form #name, #contact-form #email, #contact-form #message {
    background-color: white;
    border-radius: 5px;
    height: 30px;
    width: 500px;
    border-style: none;
    text-align: left;
    padding-left: 10px;
    font-size: 16px;
    vertical-align: top; }
  #contact-form #message {
    height: 100px;
    margin-bottom: 10px; }

.contact-container-icon-text {
  display: flex;
  flex-direction: column; }

.contact-icon-and-text {
  display: flex;
  flex-direction: row;
  padding: 15px 0; }

.contact-icons {
  width: 50px;
  height: 50px;
  margin-right: 20px; }

.contact-text {
  color: #614B4E;
  font-size: 18px; }

.contact-submit-btn {
  height: 32px;
  width: 150px;
  font-weight: bold;
  border-radius: 5px;
  font-size: 16px;
  margin: 0 20px;
  color: white;
  border-style: none;
  background-color: #614B4E;
  margin: 0 auto; }

.outside-map-container {
  position: relative;
  height: 50vh; }
