
.footer-content {
    background: #E4DDDE;
    padding: 1em;
    /* position: static; */
    flex: 0 0 50px;
    margin-top: auto;
    width: 100%;
}

.footer-text {
    font-size: 1.4em;
    color: white;
    text-align: center;
}