* {
  text-align: center;
  font-size: 12px;
  line-height: 1.2;
}

.App-intro {
  font-size: large;
}

// Colors
$darkBlue: #1B535B;
$darkPink: #614B4E;
$lightpink: #E4DDDE;
$turquoise: #4ECDC4;
$lightyellow: #FFE66D;
$lightred: #FF6B6B;
$white: #ffffff;

// font sizing
h1 {
  font-size: 4rem;
}

