* {
  text-align: center;
  font-size: 12px;
  line-height: 1.2;
  font-family: 'Muli', sans-serif;
}

// Colors
$darkBlue: #1B535B;
$darkPink: #614B4E;
$lightpink: #E4DDDE;
$turquoise: #4ECDC4;
$lightyellow: #FFE76C;
$lightred: #FF6B6B;
$white: #ffffff;
$lightgray: #EBEBEB;

// font related
$fontfamily: 'Muli', sans-serif;

h1 {
  font-size: 3rem;
  color: $darkBlue;
  text-align: center;
}

.home-page-header {
  font-size: 3em;
}

h2 {
  font-size: 1.5rem;
  text-align: left;
}

h3 {
  text-align: left;
  font-size: 1.5rem;
}
h4 {
  font-size: 14px;
}

h5 {
  font-size: 4rem;
  text-align: left;
  margin: 0;
}

p {
  color: $darkBlue;
  font-size: 17px;
  text-align: left;
}


